<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Integrador - Contacto</title>
</head>

          

        <header class="main-header">
          <input type="checkbox" id="menu">
    
          <nav class="nav-bar">
            <img class="nav-bar__logo-container" src="../public/img/LOGO.png">
            <ul class="nav-bar__nav-list">
              <li class="nav-bar__nav-item">
                <a href="inicio.html" class="nav-bar__nav-link">Inicio</a>
              </li>
              <li class="nav-bar__nav-item">
                <a href="#" class="nav-bar__nav-link">Alta</a>
              </li>
              <li class="nav-bar__nav-item">
                <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
              </li>
              <li class="nav-bar__nav-item">
                <a href="/contacto.html" class="nav-bar__nav-link">Contacto</a>
              </li>
            </ul>
          </nav> <!-- .nav-bar -->  

        <form action="">

        </form>
      
       
        <form class="formulario">
            
          <fieldset class="formulario__ficha">
          <legend class="formulario__ficha__enunciado">Datos Personales</legend>
          <DIV>     
          <label>
          <div class="formulario__ficha-items">Nombre: *</div>  
            <input class="formulario__ficha-input" type="text" name="nombre" required>
          </label>
          </DIV>
          
          
          <DIV>
          <label>
           <div class="formulario__ficha-items"> Apellido: *</div>
            <input class="formulario__ficha-input" type="text" name="Apellido" required>
          </label>
          </DIV>
          
          <DIV>
          <label>
            <div class="formulario__ficha-items">Documento: *</div>
            <input class="formulario__ficha-input" type="text" name="Documento" required>
          </label>
          </DIV>
      
          <div>
          <label>
            <div class="nacionalidad formulario__ficha-items">Nacionalidad:*</div> 
            <select class="formulario__ficha-select" name="Nacionalidad" id="opciones">
              <option value="opcion-1">Argentina</option>
              <option value="opcion-2">Chile</option>
              <option value="opcion-3">Brasil</option>
              <option value="opcion-4">Colombia</option>
            </select>
          </label>
          </div>
      
          <div>
          
         <div class="formulario__ficha-items">
            <label >
               Observaciones 
            </label>
          <div>
            <textarea class="formulario__ficha-items" name="info" cols="60" rows="3"></textarea>
          </div>  
      
          <div class="formulario__ficha-items">
            <button class="formulario__ficha-items__enviar" type="submit">Enviar</button>
          </div>
             
        </form>
        
    
    <script type="module" src="/main.js"></script>
</body>
</html>