.formulario {
    background-color: #C3BEFF;
    height: 40rem;
    width: 60rem;
    align-self: center;
    
&__ficha{
    text-align: center;
    height: 40rem;
    
 
}    
&__ficha-items{
    margin-top: 2rem;
    border-radius: 10px;

&__enviar{
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
    background-color: #A559FF;
    color: white;
}    
}

&__ficha-input{
    height:2rem;
    width: 20rem;
    border-radius: 10px;
}

&__ficha-select{
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
}

.whatsapp {
    background-color: #25d366;
    position: fixed;
    bottom: 70px;
    right: 50px;
    width: 55px;
    height: 55px;
    color: white;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
}

}
