

.section-cards {
    background-color:aliceblue;
    padding: 5rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    
}