.nosotros-body{
   
    
&__div{
    margin-top: 5%;
}

&__h1{
    margin-left: 15rem;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}    

&__h2{
    margin-left: 15rem;
}

&__p{
text-align: justify;
margin-right: 15rem;
margin-left: 15rem;
}

&__img{
    float: right;
    height: 30rem;
    width: 30rem;
    margin-left: 5rem;
    
    
    
    
}


}